.footer {
   margin-top: 60px;
   width: 100%;
   background: #303030;
   display: flex;
   justify-content: center;
   border-bottom: 1px solid #000;
   box-sizing: border-box;
   height: 388px;
   &__container {
      width: 960px;
      display: grid;
      grid-template-columns: repeat(4, 225px);
      grid-column-gap: 20px;
      padding: 40px 0 41px;
      @media (max-width: $md1) {
         width: 100%;
         height: 100%;
         grid-template-columns: repeat(4, 1fr);
         padding: 30px 5px;
         grid-column-gap: 15px;
         justify-content: space-around;
      }
      @media (max-width: $md2) {
         padding: 20px 5px;
         grid-template-columns: repeat(2, 225px);
         grid-template-rows: 127px 100px 100px;
         grid-template-areas:
            "blog form"
            "tweets form"
            "links form";
         justify-content: center;
         align-items: center;
         grid-column-gap: 5px;
         grid-row-gap: 10px;
      }
      @media (max-width: $md4) {
         grid-template-columns: repeat(2, 160px);

         justify-content: space-between;
      }
   }
   &__blog {
   }
   &__links {
   }
   &__tweets {
   }
   &__contactUs {
   }
}
.blogFooter {
   color: #76c38f;
   @media (max-width: $md1) {
      width: 90%;
   }
   @media (max-width: $md2) {
      grid-area: blog;
      height: 100%;
      width: 100%;
   }
   @media (max-width: $md4) {
      width: 90%;
   }
   &__title {
      font-size: 16px;
      color: #fff;
      line-height: 1.2;
      margin-bottom: 32px;
      @media (max-width: $md2) {
         margin-bottom: 5px;
      }
   }
   &__postTitle {
      font-size: 13px;
      line-height: 1.2;
   }
   &__postAuthor {
      line-height: 1.2;
      font-size: 10px;
      margin-top: 15px;
      @media (max-width: $md2) {
         margin-top: 6px;
      }
      .postAuthorEmail {
         color: #666666;
         line-height: 1.2;
      }
   }
   &__postText {
      margin-top: 10px;
      font-size: 13px;
      color: #979797;
      line-height: 1.6;
      @media (max-width: $md1) {
         margin-top: 5px;
         overflow: auto;
         line-height: 1.2;
      }
      @media (max-width: $md2) {
         height: 55px;
      }
      .postDate {
         line-height: 1.2;
         font-size: 10px;
         margin-bottom: 15px;
         @media (max-width: $md2) {
            margin-bottom: 3px;
         }
      }
   }
   &__readMore {
      color: #76c38f;
      text-decoration: none;
      margin-top: 12px;
      font-size: 13px;
      line-height: 1.2;
      @media (max-width: $md2) {
         margin-top: 5px;
      }
   }
}
.linksFooter {
   @media (max-width: $md1) {
      width: 90%;
   }
   @media (max-width: $md2) {
      grid-area: links;
      height: 100%;
   }
   @media (max-width: $md4) {
      width: 90%;
   }
   &__title {
      font-size: 16px;
      color: #fff;
      line-height: 1.2;
      margin-bottom: 35px;
      @media (max-width: $md2) {
         margin-bottom: 5px;
      }
   }
   &__list {
      display: block;
      list-style: url("../assets/img/footerLinksListStyle.png") inside;
      margin-top: 7px;
      @media (max-width: $md2) {
         margin-top: 5px;
         width: 100%;
         height: 60px;
         overflow: auto;
      }
   }
   &__link {
      border-bottom: 1px solid #404040;
      &:not(:first-child) {
         padding-top: 11px;
         @media (max-width: $md2) {
            padding-top: 6px;
         }
      }
      padding-bottom: 7px;
      @media (max-width: $md2) {
         padding-bottom: 2px;
      }
      a {
         font-size: 13px;
         color: #76c38f;
         text-decoration: none;
      }
   }
}
.tweetsFooter {
   @media (max-width: $md1) {
      width: 90%;
   }
   @media (max-width: $md2) {
      grid-area: tweets;
      height: 100%;
   }
   @media (max-width: $md4) {
      width: 90%;
   }
   &__title {
      font-size: 16px;
      color: #fff;
      line-height: 1.2;
      margin-bottom: 38px;
      @media (max-width: $md2) {
         margin-bottom: 5px;
      }
   }
   &__tweet {
      line-height: 1.6;
      font-size: 13px;
      color: #979797;
      @media (max-width: $md1) {
         height: 120px;
         line-height: 1.4;
         overflow: auto;
      }
      @media (max-width: $md2) {
         height: 60px;
         &:last-child {
            display: none;
         }
      }
      &:not(:last-child) {
         margin-bottom: 22px;
         @media (max-width: $md2) {
            margin-bottom: 0;
         }
      }
      .tweetAuthor {
         color: #76c38f;
      }
   }
}
.contactUsFooter {
   @media (max-width: $md1) {
      width: 90%;
   }
   @media (max-width: $md2) {
      grid-area: form;
      align-self: flex-start;
      height: 100%;
   }
   @media (max-width: $md4) {
      width: 90%;
   }
   &__title {
      font-size: 16px;
      color: #fff;
      line-height: 1.2;
      margin-bottom: 32px;
      @media (max-width: $md2) {
         margin-bottom: 10px;
      }
   }
   &__formContent {
      display: flex;
      flex-direction: column;
      input,
      textarea {
         font-family: "Georgia";
         background: #222;
         padding: 10px 10px;
         border-radius: 10px;
         margin-bottom: 10px;
         color: #989898;
         @media (max-width: $md4) {
            font-size: 12px;
         }
         &::placeholder {
            font-size: 13px;
            color: #989898;
            @media (max-width: $md4) {
               font-size: 12px;
            }
         }
      }
      textarea {
         height: 80px;
         resize: none;
      }
      button {
         font-family: "Georgia";
         width: 75px;
         height: 35px;
         font-size: 12px;
         text-transform: uppercase;
         background: #76c38f;
         color: #303030;
         border-radius: 10px;
         cursor: pointer;
         @media (max-width: $md4) {
            height: 30px;
         }
      }
   }
}
