.header {
   width: 100%;
   border-top: 5px solid #76c38f;
   background: #290000;
   height: 83px;
   overflow: auto;
   z-index: 2;
   display: flex;
   justify-content: center;
   box-sizing: border-box;
   position: fixed;
   top: 0;
   &__container {
      width: 960px;
      position: relative;
      @media (max-width: $md1) {
         width: 920px;
      }
      overflow: hidden;
   }
   &__logo {
      width: 183px;
      top: 40px;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: start;
      @media (max-width: $md1) {
         margin-left: 10px;
      }
   }
   &__logo.active {
      display: none;
   }
   &__title {
      font-size: 28px;
      color: #fff;
      height: 34px;
      line-height: 25px;
      position: absolute;
   }
   &__subtitle {
      top: 22px;
      position: absolute;
      color: #979797;
      font-size: 11px;
      line-height: 13px;
   }
   &__navigationMenu {
      position: absolute;
      right: 0;
      bottom: 8px;
      transition: all 0.3s ease 0s;
   }
   @media (max-width: $md2) {
      &__navigationMenu {
         position: absolute;
         right: 35px;
         top: -100px;
         height: 100%;
         width: 90%;
         text-align: center;
      }
      &__navigationMenu.active {
         top: 25px;
      }
      &__navigationMenuList li a {
         padding: 5px 10px 4px;
      }
   }
   @media (max-width: $md3) {
      &__navigationMenuList li a {
         padding: 2px 5px 2px;
      }
   }
   &__navigationMenuList li {
      list-style: none;
      display: inline-block;
      margin: 0 -2px 4px 0;
      @media (max-width: $md1) {
         margin-right: -3px;
      }
   }
   &__navigationMenuList li a {
      font-size: 13px;
      list-style: none;
      text-decoration: none;
      text-transform: uppercase;
      color: #fff;
      padding: 13px 20px 12px;
      @media (max-width: $md1) {
         padding: 10px 10px 9px;
      }
      &:hover {
         background: #76c38f;
         border-radius: 12px;
      }
   }

   &__burger {
      display: none;
   }
   @media (max-width: $md2) {
      &__burger {
         display: block;
         bottom: 10px;
         right: 10px;
         position: absolute;
         width: 30px;
         height: 22px;
         z-index: 2;
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         transition: all 0.3s ease 0s;
         cursor: pointer;
      }
      &__burgerLine {
         background-color: #fff;
         border-radius: 5px;
         width: 100%;
         height: 2px;
         transition: all 0.3s ease 0s;
         &_firstLine {
            margin-bottom: 5px;
         }
         &_lastLine {
            margin-top: 5px;
         }
      }
      &__burgerLine.active {
         transform: rotate(45deg);
         position: absolute;
         bottom: 10px;
         width: 75%;
      }
      &__burgerLine_firstLine.active {
         display: none;
      }
      &__burgerLine_lastLine.active {
         transform: rotate(-45deg);
      }
   }
}
