.slider {
   width: 100%;
   background-color: #290000;
   height: 605px;
   padding-top: 83px;
   display: flex;
   justify-content: center;
   align-items: center;
   @media (max-width: $md1) {
      height: 520px;
   }
   @media (max-width: $md2) {
      height: 460px;
   }
   @media (max-width: $md3) {
      height: 360px;
   }
   @media (max-width: $md4) {
      padding-top: 45px;
      height: 500px;
   }
   &__body {
      width: 960px;
      position: relative;
      @media (max-width: $md1) {
         width: 100%;
      }
   }
   &__item {
      display: grid;
      grid-template-columns: 313px 430px;
      justify-content: space-between;
      align-items: center;
      margin: 0 60px;
      @media (max-width: $md1) {
         grid-template-columns: 300px 360px;
         justify-content: space-around;
         margin: 0 30px;
      }
      @media (max-width: $md2) {
         grid-template-columns: 290px 320px;
         margin: 0 20px;
      }
      @media (max-width: $md3) {
         grid-template-columns: 270px 200px;
         margin: 0 10px;
      }
      @media (max-width: $md4) {
         grid-template-columns: 100%;
         grid-template-rows: 190px 160px;
      }
   }
   &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      @media (max-width: $md4) {
         justify-self: center;
         order: 1;
         text-align: center;
      }
   }
   &__image {
      height: 430px;
      width: 430px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      border: 25px solid #6b6b6b;
      background: center / cover no-repeat url("../assets/img/sliderImageCap.png");
      @media (max-width: $md1) {
         border: 22px solid #6b6b6b;
         height: 360px;
         width: 360px;
      }
      @media (max-width: $md2) {
         border: 17px solid #6b6b6b;
         height: 320px;
         width: 320px;
      }
      @media (max-width: $md3) {
         border: 12px solid #6b6b6b;
         height: 200px;
         width: 200px;
      }
      @media (max-width: $md4) {
         border: 8px solid #6b6b6b;
         height: 190px;
         width: 190px;
         order: 0;
         justify-self: center;
      }
   }
   .slick-arrow {
      position: absolute;
      top: 50%;
      font-size: 0;
      width: 15px;
      height: 28px;
      margin: -14px 0 0 0;
      cursor: pointer;
      z-index: 2;
   }
   .slick-arrow.slick-prev {
      background: url("../assets/img/sliderControlLeft.png") 0 0 / 100% no-repeat;
      left: 0;
   }
   .slick-arrow.slick-next {
      background: url("../assets/img/sliderControlRight.png") 0 0 / 100% no-repeat;
      right: 0;
   }
}
.contentSlider {
   &__title {
      width: 100%;
      color: #fff;
      font-size: 46px;
      line-height: 46px;
      @media (max-width: $md2) {
         font-size: 36px;
         line-height: 36px;
      }
      @media (max-width: $md3) {
         font-size: 32px;
         line-height: 32px;
      }
      @media (max-width: $md4) {
         font-size: 30px;
         line-height: 26px;
      }
   }
   &__text {
      margin-top: 22px;
      color: #979797;
      font-size: 12px;
      line-height: 1.6;
      @media (max-width: $md2) {
         margin-top: 16px;
         font-size: 11px;
         line-height: 1.4;
      }
      @media (max-width: $md4) {
         margin-top: 10px;
      }
   }
   &__readMore {
      width: 142px;
      font-size: 13px;
      color: #fff;
      background: #76c38f;
      text-align: center;
      padding: 12px 17px 12px 16px;
      border-radius: 10px;
      margin-top: 18px;
      text-decoration: none;
      @media (max-width: $md2) {
         margin-top: 12px;
         padding: 10px 12px 10px 12px;
      }
      @media (max-width: $md2) {
         padding: 6px;
      }
      @media (max-width: $md2) {
         margin-top: 8px;
         width: 100%;
      }
   }
}

/* Ограничивающая оболочка */
.slick-list {
   overflow: hidden;
}
/* Лента слайдов */
.slick-track {
   display: flex;
}
/* Ограничивающая оболочка */
.slick-list.draggable {
   width: 100%;
}
