//!Подключение файлов scss
@import "fonts";
@import "normalize";
$md1: 960px;
$md2: 768px;
$md3: 620px;
$md4: 480px;

body {
   font-family: "Georgia";
   font-weight: normal;
   background-color: #660000;
}
@import "header";
@import "slider";
.services {
   width: 100%;
   margin-top: 60px;
   display: flex;
   justify-content: center;
   @media (max-width: $md1) {
      margin-top: 40px;
   }
   @media (max-width: $md3) {
      margin-top: 25px;
   }
   &__container {
      width: 960px;
      display: grid;
      grid-template-columns: repeat(4, 225px);
      grid-template-rows: 100%;
      grid-column-gap: 30px;
      @media (max-width: $md1) {
         width: 100%;
         grid-template-columns: repeat(2, 300px);
         grid-template-rows: repeat(2, 280px);
         grid-row-gap: 20px;
         grid-column-gap: 20px;
         justify-content: center;
      }
      @media (max-width: $md2) {
         grid-template-columns: repeat(2, 290px);
      }
      @media (max-width: $md3) {
         grid-template-columns: 480px;
         grid-template-rows: repeat(4, 320px);
      }
      @media (max-width: $md4) {
         grid-template-columns: 320px;
         grid-template-rows: repeat(4, 240px);
         grid-row-gap: 10px;
      }
   }
   &__service {
      width: 225px;
      height: 305px;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 21px 33px;
      &:hover {
         background-color: #76c38f;
      }
      @media (max-width: $md1) {
         width: 300px;
         height: 280px;
         padding: 15px 18px;
      }
      @media (max-width: $md2) {
         width: 290px;
         justify-self: center;
      }
      @media (max-width: $md3) {
         width: 440px;
         height: 320px;
      }
      @media (max-width: $md4) {
         width: 300px;
         height: 240px;
      }
   }
}
.serviceContent {
   text-decoration: none;
   &__servicePicture {
      width: 120px;
      height: 120px;
      background: center / cover no-repeat url("../assets/img/servicePicture.png");
      @media (max-width: $md1) {
         width: 180px;
         height: 180px;
      }
      @media (max-width: $md3) {
         width: 220px;
         height: 220px;
      }
   }
   &__serviceTitle {
      text-transform: uppercase;
      text-align: center;
      font-size: 32px;
      line-height: 1;
      margin-top: 13px;
      color: #333;
      @media (max-width: $md1) {
         margin-top: 10px;
         font-size: 28px;
      }
      @media (max-width: $md3) {
         font-size: 24px;
      }
   }
   &__serviceText {
      margin-top: 19px;
      text-align: center;
      color: #979797;
      font-size: 12px;
      line-height: 1.4;
      @media (max-width: $md1) {
         margin-top: 5px;
         font-size: 14px;
      }
      @media (max-width: $md4) {
         display: none;
      }
   }
   &:hover {
      .pictureService {
         background: center / cover no-repeat url("../assets/img/servicePictureHover.png");
      }
      .titleService,
      .textService {
         color: #fff;
      }
   }
}
.latestWork {
   width: 100%;
   border-top: 3px solid #303030;
   margin-top: 63px;
   display: flex;
   justify-content: center;
   position: relative;
   &__container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      width: 960px;
      @media (max-width: $md1) {
         width: 100%;
      }
   }
   &__title {
      width: 256px;
      height: 48px;
      border-radius: 10px;
      padding: 12px 0px;
      background-color: #303030;
      position: absolute;
      top: -26px;
      color: #fff;
      font-size: 32px;
      text-transform: uppercase;
      text-align: center;
      line-height: 26px;
      @media (max-width: $md4) {
         top: -22px;
         font-size: 24px;
         width: 208px;
         height: 42px;
         padding: 10px 0px;
      }
   }
   &__examples {
      margin-top: 52px;
      display: grid;
      grid-template-columns: repeat(3, 300px);
      grid-template-rows: repeat(2, 200px);
      grid-row-gap: 30px;
      grid-column-gap: 30px;
      @media (max-width: $md1) {
         grid-template-columns: repeat(2, 300px);
         grid-template-rows: repeat(3, 200px);
         grid-row-gap: 20px;
         grid-column-gap: 20px;
      }
      @media (max-width: $md3) {
         grid-template-columns: repeat(1, 480px);
         grid-template-rows: repeat(6, 320px);
         grid-row-gap: 20px;
      }
      @media (max-width: $md4) {
         grid-template-columns: repeat(1, 320px);
         grid-template-rows: repeat(6, 214px);
         grid-row-gap: 10px;
      }
   }
   &__item {
      background-color: #353535;
      border: 5px solid #fff;
      box-sizing: border-box;
      text-decoration: none;
      &:hover {
         border: 5px solid #76c38f;
      }
   }
}
.latestWorkItemContent {
   position: relative;
   @media (max-width: $md4) {
      width: 300px;
      justify-self: center;
   }
   background: center/cover no-repeat url("../assets/img/latestWorkImage.png");
   &__title {
      position: absolute;
      width: 100%;
      bottom: 0;
      color: #fff;
      font-size: 14px;
      background-color: #151515;
      text-transform: uppercase;
      line-height: 13px;
      padding: 9px 0px 10px 0px;
      text-align: center;
   }
   &:hover {
      .latestWorkItemContentTitle {
         display: none;
      }
   }
}
@import "footer";
.copyright {
   width: 100%;
   border-top: 1px solid #3a3a3a;
   background: #2b2b2b;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 61px;
   box-sizing: border-box;
   color: #979797;
   font-size: 13px;
   &__container {
      width: 960px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      @media (max-width: $md1) {
         width: 100%;
         padding: 0 10px;
      }
      @media (max-width: $md2) {
         height: 20px;
      }
      @media (max-width: $md4) {
         div {
            width: 45%;
            text-align: center;
         }
      }
   }
}
