@charset "UTF-8";

@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/GeorgiaRegular.ttf") format("truetype");
  font-weight: normal;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Georgia";
  font-weight: normal;
  background-color: #660000;
}

.header {
  width: 100%;
  border-top: 5px solid #76c38f;
  background: #290000;
  height: 83px;
  overflow: auto;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  top: 0;
}

.header__container {
  width: 960px;
  position: relative;
  overflow: hidden;
}

.header__logo {
  width: 183px;
  top: 40px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.header__logo.active {
  display: none;
}

.header__title {
  font-size: 28px;
  color: #fff;
  height: 34px;
  line-height: 25px;
  position: absolute;
}

.header__subtitle {
  top: 22px;
  position: absolute;
  color: #979797;
  font-size: 11px;
  line-height: 13px;
}

.header__navigationMenu {
  position: absolute;
  right: 0;
  bottom: 8px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__navigationMenuList li {
  list-style: none;
  display: inline-block;
  margin: 0 -2px 4px 0;
}

.header__navigationMenuList li a {
  font-size: 13px;
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  padding: 13px 20px 12px;
}

.header__navigationMenuList li a:hover {
  background: #76c38f;
  border-radius: 12px;
}

.header__burger {
  display: none;
}

.slider {
  width: 100%;
  background-color: #290000;
  height: 605px;
  padding-top: 83px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__body {
  width: 960px;
  position: relative;
}

.slider__item {
  display: grid;
  grid-template-columns: 313px 430px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 60px;
}

.slider__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.slider__image {
  height: 430px;
  width: 430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  border: 25px solid #6b6b6b;
  background: center/cover no-repeat url("../assets/img/sliderImageCap.png");
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  font-size: 0;
  width: 15px;
  height: 28px;
  margin: -14px 0 0 0;
  cursor: pointer;
  z-index: 2;
}

.slider .slick-arrow.slick-prev {
  background: url("../assets/img/sliderControlLeft.png") 0 0/100% no-repeat;
  left: 0;
}

.slider .slick-arrow.slick-next {
  background: url("../assets/img/sliderControlRight.png") 0 0/100% no-repeat;
  right: 0;
}

.contentSlider__title {
  width: 100%;
  color: #fff;
  font-size: 46px;
  line-height: 46px;
}

.contentSlider__text {
  margin-top: 22px;
  color: #979797;
  font-size: 12px;
  line-height: 1.6;
}

.contentSlider__readMore {
  width: 142px;
  font-size: 13px;
  color: #fff;
  background: #76c38f;
  text-align: center;
  padding: 12px 17px 12px 16px;
  border-radius: 10px;
  margin-top: 18px;
  text-decoration: none;
}

/* Ограничивающая оболочка */

.slick-list {
  overflow: hidden;
}

/* Лента слайдов */

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Ограничивающая оболочка */

.slick-list.draggable {
  width: 100%;
}

.services {
  width: 100%;
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services__container {
  width: 960px;
  display: grid;
  grid-template-columns: repeat(4, 225px);
  grid-template-rows: 100%;
  grid-column-gap: 30px;
}

.services__service {
  width: 225px;
  height: 305px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 21px 33px;
}

.services__service:hover {
  background-color: #76c38f;
}

.serviceContent {
  text-decoration: none;
}

.serviceContent__servicePicture {
  width: 120px;
  height: 120px;
  background: center/cover no-repeat url("../assets/img/servicePicture.png");
}

.serviceContent__serviceTitle {
  text-transform: uppercase;
  text-align: center;
  font-size: 32px;
  line-height: 1;
  margin-top: 13px;
  color: #333;
}

.serviceContent__serviceText {
  margin-top: 19px;
  text-align: center;
  color: #979797;
  font-size: 12px;
  line-height: 1.4;
}

.serviceContent:hover .pictureService {
  background: center/cover no-repeat url("../assets/img/servicePictureHover.png");
}

.serviceContent:hover .titleService,
.serviceContent:hover .textService {
  color: #fff;
}

.latestWork {
  width: 100%;
  border-top: 3px solid #303030;
  margin-top: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.latestWork__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 960px;
}

.latestWork__title {
  width: 256px;
  height: 48px;
  border-radius: 10px;
  padding: 12px 0px;
  background-color: #303030;
  position: absolute;
  top: -26px;
  color: #fff;
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
  line-height: 26px;
}

.latestWork__examples {
  margin-top: 52px;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(2, 200px);
  grid-row-gap: 30px;
  grid-column-gap: 30px;
}

.latestWork__item {
  background-color: #353535;
  border: 5px solid #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

.latestWork__item:hover {
  border: 5px solid #76c38f;
}

.latestWorkItemContent {
  position: relative;
  background: center/cover no-repeat url("../assets/img/latestWorkImage.png");
}

.latestWorkItemContent__title {
  position: absolute;
  width: 100%;
  bottom: 0;
  color: #fff;
  font-size: 14px;
  background-color: #151515;
  text-transform: uppercase;
  line-height: 13px;
  padding: 9px 0px 10px 0px;
  text-align: center;
}

.latestWorkItemContent:hover .latestWorkItemContentTitle {
  display: none;
}

.footer {
  margin-top: 60px;
  width: 100%;
  background: #303030;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 388px;
}

.footer__container {
  width: 960px;
  display: grid;
  grid-template-columns: repeat(4, 225px);
  grid-column-gap: 20px;
  padding: 40px 0 41px;
}

.blogFooter {
  color: #76c38f;
}

.blogFooter__title {
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  margin-bottom: 32px;
}

.blogFooter__postTitle {
  font-size: 13px;
  line-height: 1.2;
}

.blogFooter__postAuthor {
  line-height: 1.2;
  font-size: 10px;
  margin-top: 15px;
}

.blogFooter__postAuthor .postAuthorEmail {
  color: #666666;
  line-height: 1.2;
}

.blogFooter__postText {
  margin-top: 10px;
  font-size: 13px;
  color: #979797;
  line-height: 1.6;
}

.blogFooter__postText .postDate {
  line-height: 1.2;
  font-size: 10px;
  margin-bottom: 15px;
}

.blogFooter__readMore {
  color: #76c38f;
  text-decoration: none;
  margin-top: 12px;
  font-size: 13px;
  line-height: 1.2;
}

.linksFooter__title {
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  margin-bottom: 35px;
}

.linksFooter__list {
  display: block;
  list-style: url("../assets/img/footerLinksListStyle.png") inside;
  margin-top: 7px;
}

.linksFooter__link {
  border-bottom: 1px solid #404040;
  padding-bottom: 7px;
}

.linksFooter__link:not(:first-child) {
  padding-top: 11px;
}

.linksFooter__link a {
  font-size: 13px;
  color: #76c38f;
  text-decoration: none;
}

.tweetsFooter__title {
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  margin-bottom: 38px;
}

.tweetsFooter__tweet {
  line-height: 1.6;
  font-size: 13px;
  color: #979797;
}

.tweetsFooter__tweet:not(:last-child) {
  margin-bottom: 22px;
}

.tweetsFooter__tweet .tweetAuthor {
  color: #76c38f;
}

.contactUsFooter__title {
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  margin-bottom: 32px;
}

.contactUsFooter__formContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contactUsFooter__formContent input,
.contactUsFooter__formContent textarea {
  font-family: "Georgia";
  background: #222;
  padding: 10px 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  color: #989898;
}

.contactUsFooter__formContent input::-webkit-input-placeholder, .contactUsFooter__formContent textarea::-webkit-input-placeholder {
  font-size: 13px;
  color: #989898;
}

.contactUsFooter__formContent input::-moz-placeholder, .contactUsFooter__formContent textarea::-moz-placeholder {
  font-size: 13px;
  color: #989898;
}

.contactUsFooter__formContent input:-ms-input-placeholder, .contactUsFooter__formContent textarea:-ms-input-placeholder {
  font-size: 13px;
  color: #989898;
}

.contactUsFooter__formContent input::-ms-input-placeholder, .contactUsFooter__formContent textarea::-ms-input-placeholder {
  font-size: 13px;
  color: #989898;
}

.contactUsFooter__formContent input::placeholder,
.contactUsFooter__formContent textarea::placeholder {
  font-size: 13px;
  color: #989898;
}

.contactUsFooter__formContent textarea {
  height: 80px;
  resize: none;
}

.contactUsFooter__formContent button {
  font-family: "Georgia";
  width: 75px;
  height: 35px;
  font-size: 12px;
  text-transform: uppercase;
  background: #76c38f;
  color: #303030;
  border-radius: 10px;
  cursor: pointer;
}

.copyright {
  width: 100%;
  border-top: 1px solid #3a3a3a;
  background: #2b2b2b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 61px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #979797;
  font-size: 13px;
}

.copyright__container {
  width: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 960px) {
  .header__container {
    width: 920px;
  }

  .header__logo {
    margin-left: 10px;
  }

  .header__navigationMenuList li {
    margin-right: -3px;
  }

  .header__navigationMenuList li a {
    padding: 10px 10px 9px;
  }

  .slider {
    height: 520px;
  }

  .slider__body {
    width: 100%;
  }

  .slider__item {
    grid-template-columns: 300px 360px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0 30px;
  }

  .slider__image {
    border: 22px solid #6b6b6b;
    height: 360px;
    width: 360px;
  }

  .services {
    margin-top: 40px;
  }

  .services__container {
    width: 100%;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(2, 280px);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .services__service {
    width: 300px;
    height: 280px;
    padding: 15px 18px;
  }

  .serviceContent__servicePicture {
    width: 180px;
    height: 180px;
  }

  .serviceContent__serviceTitle {
    margin-top: 10px;
    font-size: 28px;
  }

  .serviceContent__serviceText {
    margin-top: 5px;
    font-size: 14px;
  }

  .latestWork__container {
    width: 100%;
  }

  .latestWork__examples {
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(3, 200px);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
  }

  .footer__container {
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(4, 1fr);
    padding: 30px 5px;
    grid-column-gap: 15px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .blogFooter {
    width: 90%;
  }

  .blogFooter__postText {
    margin-top: 5px;
    overflow: auto;
    line-height: 1.2;
  }

  .linksFooter {
    width: 90%;
  }

  .tweetsFooter {
    width: 90%;
  }

  .tweetsFooter__tweet {
    height: 120px;
    line-height: 1.4;
    overflow: auto;
  }

  .contactUsFooter {
    width: 90%;
  }

  .copyright__container {
    width: 100%;
    padding: 0 10px;
  }
}

@media (max-width: 768px) {
  .header__navigationMenu {
    position: absolute;
    right: 35px;
    top: -100px;
    height: 100%;
    width: 90%;
    text-align: center;
  }

  .header__navigationMenu.active {
    top: 25px;
  }

  .header__navigationMenuList li a {
    padding: 5px 10px 4px;
  }

  .header__burger {
    display: block;
    bottom: 10px;
    right: 10px;
    position: absolute;
    width: 30px;
    height: 22px;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
  }

  .header__burgerLine {
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
    height: 2px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burgerLine_firstLine {
    margin-bottom: 5px;
  }

  .header__burgerLine_lastLine {
    margin-top: 5px;
  }

  .header__burgerLine.active {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    position: absolute;
    bottom: 10px;
    width: 75%;
  }

  .header__burgerLine_firstLine.active {
    display: none;
  }

  .header__burgerLine_lastLine.active {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .slider {
    height: 460px;
  }

  .slider__item {
    grid-template-columns: 290px 320px;
    margin: 0 20px;
  }

  .slider__image {
    border: 17px solid #6b6b6b;
    height: 320px;
    width: 320px;
  }

  .contentSlider__title {
    font-size: 36px;
    line-height: 36px;
  }

  .contentSlider__text {
    margin-top: 16px;
    font-size: 11px;
    line-height: 1.4;
  }

  .contentSlider__readMore {
    margin-top: 12px;
    padding: 10px 12px 10px 12px;
  }

  .contentSlider__readMore {
    padding: 6px;
  }

  .contentSlider__readMore {
    margin-top: 8px;
    width: 100%;
  }

  .services__container {
    grid-template-columns: repeat(2, 290px);
  }

  .services__service {
    width: 290px;
    justify-self: center;
  }

  .footer__container {
    padding: 20px 5px;
    grid-template-columns: repeat(2, 225px);
    grid-template-rows: 127px 100px 100px;
    grid-template-areas: "blog form" "tweets form" "links form";
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-column-gap: 5px;
    grid-row-gap: 10px;
  }

  .blogFooter {
    grid-area: blog;
    height: 100%;
    width: 100%;
  }

  .blogFooter__title {
    margin-bottom: 5px;
  }

  .blogFooter__postAuthor {
    margin-top: 6px;
  }

  .blogFooter__postText {
    height: 55px;
  }

  .blogFooter__postText .postDate {
    margin-bottom: 3px;
  }

  .blogFooter__readMore {
    margin-top: 5px;
  }

  .linksFooter {
    grid-area: links;
    height: 100%;
  }

  .linksFooter__title {
    margin-bottom: 5px;
  }

  .linksFooter__list {
    margin-top: 5px;
    width: 100%;
    height: 60px;
    overflow: auto;
  }

  .linksFooter__link:not(:first-child) {
    padding-top: 6px;
  }

  .linksFooter__link {
    padding-bottom: 2px;
  }

  .tweetsFooter {
    grid-area: tweets;
    height: 100%;
  }

  .tweetsFooter__title {
    margin-bottom: 5px;
  }

  .tweetsFooter__tweet {
    height: 60px;
  }

  .tweetsFooter__tweet:last-child {
    display: none;
  }

  .tweetsFooter__tweet:not(:last-child) {
    margin-bottom: 0;
  }

  .contactUsFooter {
    grid-area: form;
    align-self: flex-start;
    height: 100%;
  }

  .contactUsFooter__title {
    margin-bottom: 10px;
  }

  .copyright__container {
    height: 20px;
  }
}

@media (max-width: 620px) {
  .header__navigationMenuList li a {
    padding: 2px 5px 2px;
  }

  .slider {
    height: 360px;
  }

  .slider__item {
    grid-template-columns: 270px 200px;
    margin: 0 10px;
  }

  .slider__image {
    border: 12px solid #6b6b6b;
    height: 200px;
    width: 200px;
  }

  .contentSlider__title {
    font-size: 32px;
    line-height: 32px;
  }

  .services {
    margin-top: 25px;
  }

  .services__container {
    grid-template-columns: 480px;
    grid-template-rows: repeat(4, 320px);
  }

  .services__service {
    width: 440px;
    height: 320px;
  }

  .serviceContent__servicePicture {
    width: 220px;
    height: 220px;
  }

  .serviceContent__serviceTitle {
    font-size: 24px;
  }

  .latestWork__examples {
    grid-template-columns: repeat(1, 480px);
    grid-template-rows: repeat(6, 320px);
    grid-row-gap: 20px;
  }
}

@media (max-width: 480px) {
  .slider {
    padding-top: 45px;
    height: 500px;
  }

  .slider__item {
    grid-template-columns: 100%;
    grid-template-rows: 190px 160px;
  }

  .slider__content {
    justify-self: center;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: center;
  }

  .slider__image {
    border: 8px solid #6b6b6b;
    height: 190px;
    width: 190px;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    justify-self: center;
  }

  .contentSlider__title {
    font-size: 30px;
    line-height: 26px;
  }

  .contentSlider__text {
    margin-top: 10px;
  }

  .services__container {
    grid-template-columns: 320px;
    grid-template-rows: repeat(4, 240px);
    grid-row-gap: 10px;
  }

  .services__service {
    width: 300px;
    height: 240px;
  }

  .serviceContent__serviceText {
    display: none;
  }

  .latestWork__title {
    top: -22px;
    font-size: 24px;
    width: 208px;
    height: 42px;
    padding: 10px 0px;
  }

  .latestWork__examples {
    grid-template-columns: repeat(1, 320px);
    grid-template-rows: repeat(6, 214px);
    grid-row-gap: 10px;
  }

  .latestWorkItemContent {
    width: 300px;
    justify-self: center;
  }

  .footer__container {
    grid-template-columns: repeat(2, 160px);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .blogFooter {
    width: 90%;
  }

  .linksFooter {
    width: 90%;
  }

  .tweetsFooter {
    width: 90%;
  }

  .contactUsFooter {
    width: 90%;
  }

  .contactUsFooter__formContent input,
  .contactUsFooter__formContent textarea {
    font-size: 12px;
  }

  .contactUsFooter__formContent input::-webkit-input-placeholder, .contactUsFooter__formContent textarea::-webkit-input-placeholder {
    font-size: 12px;
  }

  .contactUsFooter__formContent input::-moz-placeholder, .contactUsFooter__formContent textarea::-moz-placeholder {
    font-size: 12px;
  }

  .contactUsFooter__formContent input:-ms-input-placeholder, .contactUsFooter__formContent textarea:-ms-input-placeholder {
    font-size: 12px;
  }

  .contactUsFooter__formContent input::-ms-input-placeholder, .contactUsFooter__formContent textarea::-ms-input-placeholder {
    font-size: 12px;
  }

  .contactUsFooter__formContent input::placeholder,
  .contactUsFooter__formContent textarea::placeholder {
    font-size: 12px;
  }

  .contactUsFooter__formContent button {
    height: 30px;
  }

  .copyright__container div {
    width: 45%;
    text-align: center;
  }
}
@supports (-webkit-appearance:none){
.slider__image{background:center/cover no-repeat url("../assets/img/sliderImageCap.webp")}
.slider .slick-arrow.slick-prev{background:url("../assets/img/sliderControlLeft.webp") 0 0/100% no-repeat}
.slider .slick-arrow.slick-next{background:url("../assets/img/sliderControlRight.webp") 0 0/100% no-repeat}
.serviceContent__servicePicture{background:center/cover no-repeat url("../assets/img/servicePicture.webp")}
.serviceContent:hover .pictureService{background:center/cover no-repeat url("../assets/img/servicePictureHover.webp")}
.latestWorkItemContent{background:center/cover no-repeat url("../assets/img/latestWorkImage.webp")}
}

 @media (max-width: 960px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 620px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 480px){

@supports (-webkit-appearance:none){

}

}
