<div class="footer">
   <div class="footer__container">
      <div class="footer__blog blogFooter">
         <div class="blogFooter__title">
            From The Blog
         </div>
         <div class="blogFooter__postTitle">
            Post Title
         </div>
         <div class="blogFooter__postAuthor">
            Admin<span class="postAuthorEmail">, domainname.com</span>
         </div>
         <div class="blogFooter__postText">
            <p class="postDate">
               Friday, 6th April 2000
            </p>
            Vestibulumaccumsan egestibulum eu<br>
            justo convallis augue estas<br>
            aenean elit intesque sed. Facilispede<br>
            estibulum nulla orna nisl velit elit ac<br>
            aliquat non tincidunt. Namjusto<br>
            cras urna urnaretra lor urna neque<br>
            sed quis orci nulla.
         </div>
         <a href="javascript:void(0)" class="blogFooter__readMore">
            Read More »
         </a>
      </div>
      <div class="footer__links linksFooter">
         <div class="linksFooter__title">
            Quick Links
         </div>
         <ul class="linksFooter__list">
            <li class="linksFooter__link"><a href="javascript:void(0)">Lorem ipsum dolor sit</a></li>
            <li class="linksFooter__link"><a href="javascript:void(0)">Amet consectetur</a></li>
            <li class="linksFooter__link"><a href="javascript:void(0)">Praesent vel sem id</a></li>
            <li class="linksFooter__link"><a href="javascript:void(0)">Curabitur hendrerit est</a></li>
            <li class="linksFooter__link"><a href="javascript:void(0)">Aliquam eget erat nec sapien</a></li>
            <li class="linksFooter__link"><a href="javascript:void(0)">Cras id augue nunc</a></li>
            <li class="linksFooter__link"><a href="javascript:void(0)">Sed a nulla urna</a></li>
         </ul>
      </div>
      <div class="footer__tweets tweetsFooter">
         <div class="tweetsFooter__title">
            Latest Tweets
         </div>
         <div class="tweetsFooter__tweet">
            <span class="tweetAuthor">@namehere</span>
            Justoid nonummy <br>
            laoreet phasellent penatoque in<br>
            antesque pellus elis eget tincidunt.<br>
            Nequatdui laorem justo a non tellus<br>
            laoremut vitae doloreet 1 day ago
         </div>
         <div class="tweetsFooter__tweet">
            <span class="tweetAuthor">@namehere</span>
            Justoid nonummy <br>
            laoreet phasellent penatoque in<br>
            antesque pellus elis eget tincidunt.<br>
            Nequatdui laorem justo a non tellus<br>
            laoremut vitae doloreet 1 day ago
         </div>
      </div>
      <div class="footer__contactUs contactUsFooter">
         <div class="contactUsFooter__title">
            Contact Us
         </div>
         <form class="contactUsFooter__formContent">
            <input class="contactUsFooter__fullName" placeholder="Full Name" required>
            <input class="contactUsFooter__emailAddress" placeholder="Email Address" required>
            <input class="contactUsFooter__subject" placeholder="Subject" required>
            <textarea form="contactUsFooter__message" placeholder="Message" required></textarea>
            <button type="submit" class="contactUsFooter__submit">
               submit
            </button>
         </form>
      </div>
   </div>
</div>