<header class="header">
   <div class="header__container">
      <div class="header__logo">
         <div class="header__title">The Modernist </div>
         <div class="header__subtitle"> Free PSD Website Template </div>
      </div>
      <div class="header__burger">
         <span class="header__burgerLine header__burgerLine_firstLine"></span>
         <span class="header__burgerLine"></span>
         <span class="header__burgerLine header__burgerLine_lastLine"></span>
      </div>
      <nav class="header__navigationMenu">
         <ul class="header__navigationMenuList">
            <li><a href="javascript:void(0)">HOME</a></li>
            <li><a href="javascript:void(0)">STYLE DEMO</a> </li>
            <li><a href="javascript:void(0)">FULL WIDTH</a></li>
            <li><a href="javascript:void(0)">DROPDOWN</a></li>
            <li><a href="javascript:void(0)">PORTFOLIO</a></li>
            <li><a href="javascript:void(0)">GALLERY</a></li>
         </ul>
      </nav>
   </div>
</header>